@import '../../../theme/variables.scss';
@import '../../../theme/utils.scss';

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 52px;
  max-width: max-content;
  background-color: transparent;
  color: $primaryDark;
  border: 0;
  border-bottom: 1px solid $lighterGrey;
  padding-right: em(20);
  padding-bottom: 6px;
  font-size: 14px;
  margin: 0;
  transition: 0.1s all ease-in-out;
  outline: none;

  &:hover:not(:disabled),
  &:focus {
    cursor: pointer;
    border-bottom-color: $brightPurpleTwo;
  }

  &:focus {
    border-bottom-style: dashed;
  }

  &:disabled {
    color: $secondaryGrey;
    cursor: not-allowed;

    .dropdownIconContainer {
      -webkit-filter: invert(50%); /* safari 6.0 - 9.0 */
      filter: invert(50%);
      opacity: 0.3;
    }
  }

  .dropdownIconContainer {
    position: absolute;
    right: -3px;
    width: 10px;
    height: 10px;
    transform: rotate(90deg);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  ul.dropdownContainer {
    list-style: none;
    position: absolute;
    left: 0;
    top: 95%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 5px 2px $borderGrey;
    z-index: 1;
    background-color: $white;
    border-top: 1px solid $primary;
    max-height: 125px;
    overflow-y: scroll;

    li.dropdownItem {
      button {
        background-color: $white;
        padding: 5px 10px;
        width: 100%;
        cursor: pointer;
        border: 1px solid transparent;
        transition: 0.1s all ease-in-out;
        font-size: 14px;
        outline: none;

        &:hover, &:focus {
          background-color: $lightPurple;
        }
      }
      &.selected {
        button {
          color: $primary;
          font-weight: $fontWeightBold;
        }
      }
    }
  }
}
