@import '../../../theme/variables.scss';
@import '../../../theme/utils.scss';

.label {
  color: $darkPurple;
  font-weight: $fontWeightSemiBold;
  position: absolute;
  top: -5px;
  left: 10px;
  transition: 0.1s all ease-in-out;
  font-size: 14px;
}

.slideLabel {
  top: -15px;
  font-size: 11px;
}

.labelError {
  color: $error;
}
