.slideLabel {
  top: -15px;
  font-size: em(11);
}

// use this mixin with an input element
// the label should be the direct next sibling of the input element.
@mixin slideLabelTest {
  &::placeholder {
    font-size: 14px;
  }

  &:placeholder-shown {
    & + label {
      @extend .slideLabel;
    }
  }

  &:hover {
    border-color: $brightPurple;
    cursor: pointer;
  }

  &:focus {
    border-color: $brightPurple;
    border-bottom-style: dashed;

    & + label {
      @extend .slideLabel;
    }
  }

  &:disabled {
    border-bottom-color: $lighterGrey;
    cursor: not-allowed;

    & + .label {
      font-weight: $fontWeightRegular;
      color: $secondaryGrey;
    }
  }
}
