/* color code */
$primary: #512698;
$primaryDark: #241b33;
$primaryMidPurple: #3f1673;
$primaryMidPurpleTwo: #361d53;
$darkPurple: #2d054e;
$brightPurple: #aa77ff;
$brightPurpleTwo: #aa77fb;
$lightPurple: #ece0ff;
$secondary: #800080;
$secondaryGrey: #6d6e71;
$tertiaryGrey: #6D7275;
$borderGrey: #00000014;
$error: #d01200;
$tooltipRed: #d6083b;
$buttonHover: #A1062D;
$pinkOne: #fa7d9c;
$fileUploadBorder: #51269866;
$shadowOne: #51269866;
$shadowTwo: #6d6e714a;
$calendarDayBackground: #fafafa;
$tooltipBoxBackground: #F4F5F7;

$white: #fff;
$black: #000;
$grey: #999;
$darkGrey: #333;
$lighterDarkGrey: #d1d4d3;
$lightGrey: #e5e5e5;
$lighterGrey: #e8e8e8;
$cGrey: #ccc;
$dGrey: #DFE1E2;
$border: #dfdfdf;
$error: #c62c40;
$errorLight: rgba(214, 8, 59, 0.1);
$success: #5aa366;
$input: #707070;
$placeholder: hsl(0, 0%, 50%);
$label: #595959;

/* Font Weights */
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;
$fontWeightExtraBold: 800;
$fontWeightBlack: 900;
