@import '../../../theme/variables.scss';
@import '../../../theme/utils.scss';

.container {
  position: relative;
  margin-top: em(30);

  .inputWithTooltipContainer {
    display: flex;
    position: relative;

    .toolTip {
      position: absolute;
      right: 0;
      margin-right: em(2);
      width: em(16);
      height: em(16);
      cursor: pointer;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .label {
    color: $darkPurple;
    font-weight: $fontWeightSemiBold;
    position: absolute;
    top: -5px;
    left: 10px;
    transition: 0.1s all ease-in-out;
    font-size: em(14);
  }

  .slideLabel {
    top: -15px;
    font-size: em(11);
  }

  .input {
    flex: 1;
    color: $primaryDark;
    padding: em(5) em(30) em(5) 10px;
    background-color: $white;
    border: none;
    border-bottom: em(2) solid $lighterGrey;
    outline: none;
    transition: 0.1s all ease-in-out;

    &::placeholder {
      font-size: 14px;
    }

    &:placeholder-shown {
      & + label {
        @extend .slideLabel;
      }
    }

    &:hover {
      border-color: $brightPurple;
      cursor: pointer;
    }

    &:focus {
      border-color: $brightPurple;
      border-bottom-style: dashed;

      & + label {
        @extend .slideLabel;
      }
    }

    &:disabled {
      border-bottom-color: $lighterGrey;
      cursor: not-allowed;

      & + label {
        font-weight: $fontWeightRegular;
        color: $secondaryGrey;
      }
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      box-shadow: 0 0 0 30px $white inset !important;
      -webkit-box-shadow: 0 0 0 30px $white inset !important;
    }
  }

  .labelError {
    color: $error;
  }

  .inputError,
  .inputError:hover,
  .inputError:focus {
    border-bottom-color: $error;
    color: $secondaryGrey;
  }

  .errorContainer {
    padding-left: em(10);
    margin-top: em(5);
  }

  // .helpLinkContainer {
  //   padding-left: em(10);

  //   .helpLink {
  //     font-size: em(11);
  //     color: $secondaryGrey;
  //   }
  // }

  // .tooltipContainer {
  //   padding-left: em(10);

  //   .tooltipLink {
  //     font-size: em(11);
  //     color: $tooltipRed;
  //     text-decoration-style: dashed;
  //     transition: 0.1s all ease-in-out;
  //     outline: none;

  //     &:hover {
  //       background-color: $tooltipRed;
  //       color: $white;
  //     }

  //     &:focus {
  //       color: $pinkOne;
  //       background-color: $white;
  //     }
  //   }
  // }
}
