@import '../../../theme/variables.scss';
@import '../../../theme/utils.scss';

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  margin-top: 40px;

  .componentHeading {
    top: -20px;
    left: 0;
  }

  .optionLabel {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: em(14);
    line-height: 14px;
    width: fit-content;
    color: $primaryDark;
    cursor: pointer;
  }

  .tooltip {
    margin-left: 4px;
  }

  .optionWithTooltip{
    display: flex;
  }

  .checkboxInput {
    position: absolute;
    left: -999em;

    &:disabled + span.presentationalCheckbox,
    &:disabled + span.presentationalCheckbox + span.labelSpanElement {
      color: $secondaryGrey;
      cursor: not-allowed;
    }
  }

  .presentationalCheckbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: em(1);
    margin-top: 2px;
    width: em(14);
    height: em(14);
    margin-right: em(10);
    border: 1px solid $lighterDarkGrey;
    border-radius: 3px;
    box-shadow: 0 2px 2px $borderGrey;
  }

  .checkboxChecked {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 2px;
  }

  .labelSpanElement {
    margin-top: em(3);
  }

  .checkboxInput:checked + .presentationalCheckbox .checkboxChecked {
    background-color: $brightPurple;
  }

  .focused {
    border-color: $brightPurple;
    border-style: dashed;
  }

  .optionalText {
    padding-left: 0;
  }
}
