@import '../../../theme/variables.scss';
@import '../../../theme/utils.scss';

.container {
  width: em(16);
  height: em(16);
  position: relative;

  img {
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  .descriptionBox {
    position: absolute;
    right: -28px;
    bottom: 250%;
    padding: em(24) em(32);
    background-color: $tooltipBoxBackground;
    border-radius: 4px;
    box-shadow: 0 2px 2px $shadowTwo;
    width: max-content;
    max-width: em(385);
    z-index: 2;

    &::after {
      content: '';
      top: 100%;
      right: 21px;
      border: 15px solid transparent;
      border-top-color: $tooltipBoxBackground;
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      margin-left: -21px;
    }

    &::before {
      content: '';
      position: absolute;
      right: 25px;
      bottom: -7px;
      transform: rotate(45deg);
      width: 23px;
      height: 21px;
      z-index: -1;
      box-shadow: 4px 4px 3px -2px $shadowTwo;
    }

    .heading,
    .description {
      margin: 0;
    }

    .heading {
      font-weight: $fontWeightExtraBold;
      color: $primary;
      font-size: em(15);
      margin-bottom: em(8);
    }

    .description {
      font-size: em(13);
      line-height: 17px;
    }
  }
}
