@import '../../../theme/variables.scss';
@import '../../../theme/utils.scss';

.container {
  margin-top: em(20);
  position: relative;

  .uploadButtonContainer {
    input[type='file']:disabled {
      & + .buttonToOpenFileUploader {
        color: $secondaryGrey;
        box-shadow: none;
        border: 1px solid $lighterGrey;
        cursor: not-allowed;
      }
    }
  }

  .buttonToOpenFileUploader {
    color: $primary;
    cursor: pointer;
    color: $primary;
    font-weight: $fontWeightExtraBold;
    width: em(124);
    height: em(38);
    margin-top: em(12);
    background-color: $white;
    border: 1px solid $fileUploadBorder;
    border-radius: 3px;
    box-shadow: 0 2px 2px $shadowOne;
  }

  .label {
    left: 0;
    top: -12px;
  }

  .inputError {
    border-bottom-color: $error;
  }

  .selectedFiles {
    display: flex;
    flex-wrap: wrap;

    .fileNameChipContainer {
      display: flex;
      align-items: center;
      margin-top: em(12);

      .fileNameChip {
        background-color: $lightPurple;
        padding: em(4) em(12);
        border-radius: 4px;
        margin-right: em(8);
      }

      .deleteFileButton {
        display: flex;
        cursor: pointer;
        background-color: transparent;
        border: none;
        margin-right: em(16);
        padding: 0;
      }
    }
  }

  .optionalText {
    padding-left: 0;
  }
}
